@font-face {
  font-family: 'Bungee';
  src: url('../fonts/Bungee/bungee-regular.woff2') format('woff2'),
       url('../fonts/Bungee/bungee-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster/lobster-regular.woff2') format('woff2'),
       url('../fonts/Lobster/lobster-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin Bold';
  src: url('../fonts/Cabin/cabin-bold.woff2') format('woff2'),
       url('../fonts/Cabin/cabin-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cabin Italic';
  src: url('../fonts/Cabin/cabin-italic.woff2') format('woff2'),
       url('../fonts/Cabin/cabin-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cabin';
  src: url('../fonts/Cabin/cabin-regular.woff2') format('woff2'),
       url('../fonts/Cabin/cabin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
